.content{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 11.4rem ifr;
    grid-template-areas: 
    'header header'
    'left right'
    
}

header{
    grid-area: header;
}
#bg{
    grid-area: left;
    background-image: url('/assets/Ilustracao.png') top/cover ;
}
main{
    grid-area: right;
}